#container{
    margin: 30px auto;
    width: 455px;
}

#container #calculator {
    width: 100%;   
    border-radius: 10px;
    border-style: solid;  
    border-color: #000;
    border-width: 2px;
    background-color: #213b50;
    padding: 30px;
    box-shadow: 5px 5px 5px #000;
  }

#container #calculator #display {
    width: 430px;
    height: 50px;
    border-style: solid;  
    border-color: #000;
    border-width: 2px;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-left: 10px;
    text-align: right;
    font-size: 40px;
    font-family: 'Nova Square';
    background-color: #4e708c;
  }

#container #calculator .btn{
    width: 90px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-style: solid;  
    border-color: #000;
    border-width: 2px;
    border-radius: 5px;
    background-color: #2b4a64;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    box-shadow: 5px 5px 5px #000000;
    transition: background-color 200ms;
  }
  
#container #calculator .btn:last-child {
    width: 205px;
    background-color: #d30000;
}

#container #calculator .btn:nth-child(2) {
    background-color: #765812;
}

#container #calculator .btn:hover,
#container #calculator .btn.hover {
    background-color: #4e708c;
    border-color: #aaaaaa;
    border-width: 1px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
